<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="text/plain" />
            <mimeMap fileExtension=".wasm" mimeType="text/plain" />
            <mimeMap fileExtension=".zkey" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
