<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Headers" value="Content-Type, api_key, Authorization" />
      <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
    </customHeaders>
  </httpProtocol>
           <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="text/plain" />
            <mimeMap fileExtension=".wasm" mimeType="text/plain" />
            <mimeMap fileExtension=".zkey" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
